<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  <style media="screen">
    body { padding-top: 80px; }
  </style>


<!-- CSS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/css/form-elements.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/main.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

            <!-- Favicon and touch icons -->
            <link rel="shortcut icon" href="assets/ico/favicon.png">
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
            <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

          </head>

          <body>

            <!-- Top content -->
            <div class="top-content">

              <div class="inner-bg">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                      <div class="form-top">
                        <div class="form-top-left">

                          <div>
                          </div>
                          <h3>Login to <a class="logo">Resumate</a></h3>
                          <p>Enter your email and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                          <i class="fa fa-lock"></i>
                        </div>
                      </div>
                      <div class="form-bottom">
                        {{#if message}}
                        <div class="alert alert-danger">
                          {{message}}
                        </div>
                        {{/if}}
                        <form role="form" action="/login" method="post" class="login-form">
                          <div class="form-group">
                            <label class="sr-only" for="form-email">Email</label>
                            <input type="email" name="email" placeholder="Email..." class="form-username form-control" id="email">
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="form-password">Password</label>
                            <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="password">
                          </div>
                          <button type="submit" class="btn">Sign in!</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                      <h3>Not a member yet? Enroll now!</h3>
                      <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="/signup">
                          <i></i> Sign up
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Javascript -->
            <script src="/js/jquery-1.11.1.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/jquery.backstretch.min.js"></script>
            <script src="/js/scripts_login.js"></script>

        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
            <![endif]-->

          </body>

          </html>
